.tabbar {
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
}
.page-main {
  min-height: calc(100vh - 51px);
}
.primary {
  color: #3C9CFF;
}
.success {
  color: #5AC725;
}
.danger {
  color: #F56C6C;
}